apache-airflow>=2.7.0
apache-airflow-providers-common-compat>=1.1.0
apache-airflow-providers-common-sql>=1.7.2
asgiref>=3.5.2
dill>=0.2.3
gcloud-aio-auth>=5.2.0
gcloud-aio-bigquery>=6.1.2
gcloud-aio-storage>=9.0.0
gcsfs>=2023.10.0
google-ads>=24.1.0
google-analytics-admin>=0.9.0
# Google-api-core 2.16.0 back-compat issue:
# - https://github.com/googleapis/python-api-core/issues/576
# - https://github.com/apache/airflow/issues/39394
google-api-core>=2.11.0,!=2.16.0,!=2.18.0
google-api-python-client>=2.0.2
google-auth>=2.29.0
google-auth-httplib2>=0.0.1
google-cloud-aiplatform>=1.57.0
google-cloud-automl>=2.12.0
# google-cloud-bigquery version 3.21.0 introduced a performance enhancement in QueryJob.result(),
# which has led to backward compatibility issues
# - https://github.com/apache/airflow/issues/39541
google-cloud-bigquery<3.21.0,>=3.4.0
google-cloud-bigquery-datatransfer>=3.13.0
google-cloud-bigtable>=2.17.0
google-cloud-build>=3.22.0
google-cloud-compute>=1.10.0
google-cloud-container>=2.17.4
google-cloud-datacatalog>=3.11.1
google-cloud-dataflow-client>=0.8.6
google-cloud-dataform>=0.5.0
google-cloud-dataplex>=1.10.0
google-cloud-dataproc>=5.8.0
google-cloud-dataproc-metastore>=1.12.0
google-cloud-dlp>=3.12.0
google-cloud-kms>=2.15.0
google-cloud-language>=2.9.0
google-cloud-logging>=3.5.0
google-cloud-memcache>=1.7.0
google-cloud-monitoring>=2.18.0
google-cloud-orchestration-airflow>=1.10.0
google-cloud-os-login>=2.9.1
google-cloud-pubsub>=2.19.0
google-cloud-redis>=2.12.0
google-cloud-secret-manager>=2.16.0
google-cloud-spanner>=3.11.1
google-cloud-speech>=2.18.0
google-cloud-storage>=2.7.0
google-cloud-storage-transfer>=1.4.1
google-cloud-tasks>=2.13.0
google-cloud-texttospeech>=2.14.1
google-cloud-translate>=3.11.0
google-cloud-videointelligence>=2.11.0
google-cloud-vision>=3.4.0
google-cloud-workflows>=1.10.0
google-cloud-run>=0.10.0
google-cloud-batch>=0.13.0
grpcio-gcp>=0.2.2
httpx>=0.25.0
json-merge-patch>=0.2
# looker-sdk 24.18.0 has issues in import looker_sdk.rtl,  No module named looker_sdk.rtl
# See https://github.com/looker-open-source/sdk-codegen/issues/1518
looker-sdk>=22.4.0,!=24.18.0
pandas-gbq>=0.7.0
# In pandas 2.2 minimal version of the sqlalchemy is 2.0
# https://pandas.pydata.org/docs/whatsnew/v2.2.0.html#increased-minimum-versions-for-dependencies
# However Airflow not fully supports it yet: https://github.com/apache/airflow/issues/28723
# In addition FAB also limit sqlalchemy to < 2.0
pandas>=2.1.2,<2.2
# A transient dependency of google-cloud-bigquery-datatransfer, but we
# further constrain it since older versions are buggy.
proto-plus>=1.19.6
python-slugify>=7.0.0
PyOpenSSL>=23.0.0
sqlalchemy-bigquery>=1.2.1
sqlalchemy-spanner>=1.6.2
tenacity>=8.1.0