apache-airflow>=2.7.0
apache-airflow-providers-common-compat>=1.1.0
apache-airflow-providers-common-sql>=1.14.1
# In pandas 2.2 minimal version of the sqlalchemy is 2.0
# https://pandas.pydata.org/docs/whatsnew/v2.2.0.html#increased-minimum-versions-for-dependencies
# However Airflow not fully supports it yet: https://github.com/apache/airflow/issues/28723
# In addition FAB also limit sqlalchemy to < 2.0
pandas>=2.1.2,<2.2
pyarrow>=14.0.1
snowflake-connector-python>=3.7.1
snowflake-sqlalchemy>=1.4.0