aiofiles>=23.2.0
apache-airflow>=2.7.0
asgiref>=3.5.2
cryptography>=41.0.0
# The Kubernetes API is known to introduce problems when upgraded to a MAJOR version. Airflow Core
# Uses Kubernetes for Kubernetes executor, and we also know that Kubernetes Python client follows SemVer
# (https://github.com/kubernetes-client/python#compatibility). This is a crucial component of Airflow
# So we should limit it to the next MAJOR version and only deliberately bump the version when we
# tested it, and we know it can be bumped. Bumping this version should also be connected with
# limiting minimum airflow version supported in cncf.kubernetes provider, due to the
# potential breaking changes in Airflow Core as well (kubernetes is added as extra, so Airflow
# core is not hard-limited via install-requirements, only by extra).
kubernetes>=29.0.0,<=30.1.0
# The Kubernetes_asyncio package is used for providing Asynchronous (AsyncIO) client library for
# standard Kubernetes API. The version is limited by minimum 18.20.1 because of introducing the ability to
# load kubernetes config file from dictionary in that release and is limited to the next MAJOR version
# (started from current 24.2.2 version) to prevent introducing some problems that could be due to some
#  major changes in the package.
kubernetes_asyncio>=29.0.0,<=30.1.0
google-re2>=1.0